<% include partials/header %>

<h1>Index Page!</h1>

<p>Welcome to FIKS!</p>

<a href="/campgrounds"> View All Data </a>
<br>
<a href="/campgrounds/new"> Add data </a>
<br>
<a href="/register"> Signup </a>
<br>
<a href="/login">Login</a>
<% include partials/footer %>